body{
    background-color: rgb(215, 205, 155);
}
#fondo_titulo{
    background-color: rgba(203, 241, 179, 0.905);
    padding: 15px;
    border-radius: 35px;
    margin-top: 10px;
    margin-right: 550px;
    margin-left: 500px
}
#titulo {
    color: rgb(0, 0, 0);
    margin-left: 75px
}
#carrusel{
    margin-bottom: 10px;
    padding: 90px;

}
#carta{
    margin-top: 20px;
}
